In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
adelaide_df = pd.read_csv('Adelaide_Data.csv')
perth_df = pd.read_csv('Perth_Data.csv')


print(adelaide_df.head())
print(adelaide_df.shape)
print(adelaide_df.columns)

   316.5855  223.9277  182.3434  551.5497    7.8641  243.1339  361.0877  \
0  530.3136   68.7031   31.5983  175.2582  516.1441   63.4652   67.0954
1   27.3967  399.0488  565.6854  394.0466  120.2245  558.1293  546.4520
2  346.1526   59.6375  226.2742  280.9095  402.2161  218.7181  207.0407
3  317.9144  551.8542  335.4745   40.0240  316.6285  365.6434  416.3060
4  370.1551  438.7171  222.3375  153.1610  429.7656  478.7805  303.1690

   115.9284   78.6087  468.3799  ...  82322.0277  98069.1011   86578.633  \
0  369.4486   14.0930  375.4462  ...  83920.1033  80968.0044  87108.1328
1   27.3256  314.1051  235.9476  ...  97358.7395  93437.7170  69940.2554
2  339.5676    0.0000    0.0000  ...  80399.3841  89349.6141  85048.3860
3  562.1028  211.3577  143.1255  ...  97088.1761  81187.3982  63591.6729
4  448.9657   98.8592   29.9884  ...  97335.9836  70670.4876  57081.2420

   93016.4133  63145.1829  98353.1952   80225.139  98447.2846  97570.2225  \
0  68065.1856  99061.3812  77549.1426  99013.1628  78234.4337  84633.6493
1  92864.1192  60887.8095  72306.6556  81151.1515  83030.9726  94779.6131
2  70038.2271  92797.3569  97653.8121  74903.3740  71690.6549  96220.4768
3  92418.1977  82454.8256  97091.7749  85937.5437  66823.1572  93683.0996
4  86038.3420  83643.1803  97737.5596  85684.3216  57476.9499  85025.9075

   1370374.145
0  1340929.765
1  1352031.511
2  1396754.375
3  1355708.577
4  1308546.042

[5 rows x 49 columns]
(71998, 49)
Index(['316.5855', '223.9277', '182.3434', '551.5497', '7.8641', '243.1339',
       '361.0877', '115.9284', '78.6087', '468.3799', '362.6036', '1.6865',
       '508.6837', '446.644', '385.7292', '522.1661', '180.9224', '366.9186',
       '200.9217', '436.4863', '189.6325', '218.9722', '247.9875', '269.9356',
       '495.7867', '105.5203', '141.8014', '18.7857', '496.6488', '3.2835',
       '513.9628', '105.5529', '78738.9831', '86026.8604', '69559.8105',
       '99665.7889', '74052.5623', '79484.3263', '85118.6141', '82322.0277',
       '98069.1011', '86578.633', '93016.4133', '63145.1829', '98353.1952',
       '80225.139', '98447.2846', '97570.2225', '1370374.145'],
      dtype='object')

In [4]:
adelaide_df.columns = [f'x{i}' for i in range(1, 17)] + [f'y{i}' for i in range(1, 17)] + [f'p{i}' for i in range(1, 17)] + ['powerall']


adelaide_df.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,p8,p9,p10,p11,p12,p13,p14,p15,p16,powerall
0,530.3136,68.7031,31.5983,175.2582,516.1441,63.4652,67.0954,369.4486,14.0930,375.4462,...,83920.1033,80968.0044,87108.1328,68065.1856,99061.3812,77549.1426,99013.1628,78234.4337,84633.6493,1340929.765
1,27.3967,399.0488,565.6854,394.0466,120.2245,558.1293,546.4520,27.3256,314.1051,235.9476,...,97358.7395,93437.7170,69940.2554,92864.1192,60887.8095,72306.6556,81151.1515,83030.9726,94779.6131,1352031.511
2,346.1526,59.6375,226.2742,280.9095,402.2161,218.7181,207.0407,339.5676,0.0000,0.0000,...,80399.3841,89349.6141,85048.3860,70038.2271,92797.3569,97653.8121,74903.3740,71690.6549,96220.4768,1396754.375
3,317.9144,551.8542,335.4745,40.0240,316.6285,365.6434,416.3060,562.1028,211.3577,143.1255,...,97088.1761,81187.3982,63591.6729,92418.1977,82454.8256,97091.7749,85937.5437,66823.1572,93683.0996,1355708.577
4,370.1551,438.7171,222.3375,153.1610,429.7656,478.7805,303.1690,448.9657,98.8592,29.9884,...,97335.9836,70670.4876,57081.2420,86038.3420,83643.1803,97737.5596,85684.3216,57476.9499,85025.9075,1308546.042