In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
adelaide_df = pd.read_csv('Adelaide_Data.csv')
perth_df = pd.read_csv('Perth_Data.csv')
sydney_df = pd.read_csv('Sydney_Data.csv')
tasmania_df = pd.read_csv('Tasmania_Data.csv')

datasets = [adelaide_df, perth_df, sydney_df, tasmania_df]

In [5]:
# Label columns in every dataset

for dataset in datasets:
    dataset.columns = [f'x{i}' for i in range(1, 17)] + [f'y{i}' for i in range(1, 17)] + [f'p{i}' for i in range(1, 17)] + ['powerall']



print(adelaide_df.head())
print(perth_df.head())
print(sydney_df.head())
print(tasmania_df.head())

         x1        x2        x3        x4        x5        x6        x7  \
0  530.3136   68.7031   31.5983  175.2582  516.1441   63.4652   67.0954
1   27.3967  399.0488  565.6854  394.0466  120.2245  558.1293  546.4520
2  346.1526   59.6375  226.2742  280.9095  402.2161  218.7181  207.0407
3  317.9144  551.8542  335.4745   40.0240  316.6285  365.6434  416.3060
4  370.1551  438.7171  222.3375  153.1610  429.7656  478.7805  303.1690

         x8        x9       x10  ...          p8          p9         p10  \
0  369.4486   14.0930  375.4462  ...  83920.1033  80968.0044  87108.1328
1   27.3256  314.1051  235.9476  ...  97358.7395  93437.7170  69940.2554
2  339.5676    0.0000    0.0000  ...  80399.3841  89349.6141  85048.3860
3  562.1028  211.3577  143.1255  ...  97088.1761  81187.3982  63591.6729
4  448.9657   98.8592   29.9884  ...  97335.9836  70670.4876  57081.2420

          p11         p12         p13         p14         p15         p16  \
0  68065.1856  99061.3812  77549.1426  99013.1628  78234.4337  84633.6493
1  92864.1192  60887.8095  72306.6556  81151.1515  83030.9726  94779.6131
2  70038.2271  92797.3569  97653.8121  74903.3740  71690.6549  96220.4768
3  92418.1977  82454.8256  97091.7749  85937.5437  66823.1572  93683.0996
4  86038.3420  83643.1803  97737.5596  85684.3216  57476.9499  85025.9075

      powerall
0  1340929.765
1  1352031.511
2  1396754.375
3  1355708.577
4  1308546.042

[5 rows x 49 columns]
         x1        x2        x3      x4        x5        x6        x7  \
0  427.4820  147.4593  474.9960  9.5407  258.2593  404.2589  524.3422
1  423.7709  155.9451  470.8182  4.0438  253.8868  390.2231  509.0224
2  431.8288  146.6720  466.1145  7.0164  261.3787  408.9941  521.9852
3  437.7897  141.3579  474.3819  4.3434  256.5644  393.0113  516.1617
4  450.8980  144.7559  475.3267  2.5512  241.1346  400.2228  510.2312

        x8       x9       x10  ...           p8          p9         p10  \
0  44.4009  70.4385  468.8828  ...   98879.6861  82893.9171  89158.6518
1  50.7996  72.8076  463.4203  ...  100504.0370  81572.7820  89932.3496
2  44.0360  77.5854  450.5736  ...   99857.6062  82267.0302  88657.7954
3  52.4880  66.1179  457.0365  ...   99953.9882  80579.2854  88819.3409
4  54.6467  78.7078  466.5793  ...  101316.4648  77925.4484  87779.9566

          p11          p12         p13         p14          p15         p16  \
0  80356.5067  100927.1007  89760.5631  97828.2206   99214.7876  79108.3094
1  80588.3130  100977.1693  90274.1347  97757.2251   99333.6857  79691.2458
2  79139.2437  100480.0554  91102.1702  98224.0435  100672.3076  78387.9296
3  80145.6969  100693.3759  89663.6079  97947.9575  100924.1871  80104.7240
4  81388.1816  100582.6873  91470.9832  97741.0470  100097.4638  79993.7164

      powerall
0  1479133.940
1  1475814.243
2  1484052.684
3  1479350.362
4  1480235.758

[5 rows x 49 columns]
         x1        x2        x3        x4        x5        x6        x7  \
0  500.4677  278.6497   47.4062  417.3653  551.7083  401.1797    0.0000
1  511.7510  104.4383  566.0000  380.4079  345.8587    0.0000   90.5588
2   19.6990  216.4378  355.2960   67.8151  518.7256   72.1572  222.7933
3    0.0000    0.0000  243.3420    0.0000  566.0000    0.0000  198.4878
4  446.6611  421.0366  493.1895  566.0000  516.3773  566.0000  566.0000

         x8        x9       x10  ...          p8           p9          p10  \
0  161.7773  368.1543   45.9850  ...  83029.8436   91483.7433   93748.1139
1    7.2899  566.0000  566.0000  ...  91309.1752  107598.5159  101897.2685
2  223.9242  566.0000  312.4474  ...  92083.6042  103182.5412   80688.8463
3    0.0000  566.0000  566.0000  ...  85602.1738   98370.5585   97148.3728
4  474.8170  566.0000    0.0000  ...  89796.6317  106234.3463   86528.7448

           p11          p12          p13         p14          p15         p16  \
0   99467.6415   95935.6597   84254.7876  93786.3095   94499.4790  88941.7152
1  100876.0477   79350.0981  100060.2964  92733.9494  100646.9126  83394.8729
2   92306.4190  106440.6778  102118.7041  99295.1266   96503.3818  77942.2947
3   95775.0777   80723.5930   95865.7812  88525.7698   94546.5417  85021.1027
4   97221.3296   80957.7402   95689.2702  95590.0073   85799.2132  88227.3054

      powerall
0  1489888.502
1  1495035.934
2  1459841.498
3  1475765.923
4  1486388.580

[5 rows x 49 columns]
         x1        x2        x3        x4        x5        x6        x7  \
0  281.0669  390.3761  561.0742  295.9217  565.5344  236.3035  393.0648
1  566.0000  566.0000  346.5334  202.2120  389.6777  277.7876  421.9610
2    2.1045  352.3969  285.2965  566.0000  532.4306  176.8103  566.0000
3  168.5854  550.6155    0.0000  566.0000  450.8427    0.0000  566.0000
4  278.5785  365.0291   69.2200  216.9947  566.0000  301.4299  151.3832

         x8        x9       x10  ...           p8           p9          p10  \
0  340.0667  213.7463  457.8913  ...  228315.9892  196579.4315  265924.2946
1  260.3339  464.1620  566.0000  ...  216919.6851  210539.3646  234470.2783
2    0.0000  234.7225  485.8672  ...  231355.4783  267915.4110  239599.8014
3  566.0000  458.9008  227.8836  ...  212278.2632  199341.9985  230549.7763
4  566.0000  384.4588  322.3628  ...  268466.9163  265857.5868  242668.5253

           p11          p12          p13          p14          p15  \
0  236228.4838  229197.3604  212649.9615  253153.4761  265363.3600
1  245953.6945  200980.6210  203164.4624  262784.1109  269371.6293
2  239349.6550  239027.6745  194421.2484  200775.3338  265827.1867
3  210669.8570  271101.8480  199967.8783  203943.1047  265087.0171
4  267390.9069  226106.6051  207986.8063  244762.5423  207071.1001

           p16     powerall
0  251322.8751  3810742.386
1  265446.7199  3745925.666
2  271780.8771  3781329.415
3  256492.7005  3667609.449
4  264608.5750  3751960.252

[5 rows x 49 columns]